.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    padding: 30px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 30px;
}

.ulLinks {
    display: flex;
    gap: 30px;
}

.link {
    list-style-type: none;
}

.link > a {
    text-decoration: none;
    color: #000000;
}

.btn {
    background-color: var(--green-color-shade-1);
    color: #ffffff;
    padding: 1.8vmin 2vmin;
    font-size: 2.2vmin;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hamburgerMenu {
    display: none;
}

@media screen and (max-width: 991px) {
    .hamburgerMenu {
        display: block;
    }

    .navLinks {
        display: none;
    }

    .navLinks.show {
        display: block;
    }

    .ulLinks {
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 120px;
        width: 200px;
        height: auto;
        background-color: white;
        box-shadow: 0px 0px 5px rgb(204, 204, 204);
        border-radius: 5px;
        gap: 25px;
    }

    .ulLinks .link {
        border-bottom: 1px solid rgb(204, 204, 204);
        padding-bottom: 10px;
    }

    .ulLinks .link > a {
        margin-left: 20px;
    }

    .ulLinks .link:first-child {
        padding-top: 15px;
    }
 
    .ulLinks .link:last-child {
        border: none;
    }
}