/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* root variables */
:root {
    /* font */
    --inter-font: "Inter", sans-serif;
}

/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--inter-font);
}